<a href="https://colab.research.google.com/github/samuelcueva/Data-Glacier-Internship/blob/master/week%206/Data_Ingestion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Ingestion

## Dependencies

In [1]:
!python -m pip install "dask[complete]"

Requirement already satisfied: dask[complete] in /usr/local/lib/python3.7/dist-packages (2.12.0)
Requirement already satisfied: toolz>=0.7.3 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (0.11.1)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (1.19.5)
Requirement already satisfied: cloudpickle>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (1.3.0)
Collecting partd>=0.3.10
  Downloading partd-1.2.0-py3-none-any.whl (19 kB)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (1.1.5)
Collecting distributed>=2.0
  Downloading distributed-2021.7.2-py3-none-any.whl (769 kB)
     |████████████████████████████████| 769 kB 13.5 MB/s
Requirement already satisfied: bokeh>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (2.3.3)
Collecting fsspec>=0.6.0
  Downloading fsspec-2021.7.0-py3-none-any.whl (118 kB)
     |████████████████████████████████| 118 kB 76.2 MB/s
Requirement already satisfied: PyYaml in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (3.13)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->dask[complete]) (7.1.2)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->dask[complete]) (21.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->dask[complete]) (3.7.4.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->dask[complete]) (2.8.1)
Requirement already satisfied: tornado>=5.1 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->dask[complete]) (5.1.1)
Requirement already satisfied: Jinja2>=2.9 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->dask[complete]) (2.11.3)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (7.1.2)
Collecting distributed>=2.0
  Downloading distributed-2021.7.1-py3-none-any.whl (766 kB)
     |████████████████████████████████| 766 kB 83.7 MB/s
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (1.0.2)
Collecting cloudpickle>=0.2.1
  Downloading cloudpickle-1.6.0-py3-none-any.whl (23 kB)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (1.7.0)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (2.4.0)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (2.0.0)
Collecting distributed>=2.0
  Downloading distributed-2021.7.0-py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 61.4 MB/s
  Downloading distributed-2021.6.2-py3-none-any.whl (722 kB)
     |████████████████████████████████| 722 kB 64.2 MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (57.2.0)
  Downloading distributed-2021.6.1-py3-none-any.whl (722 kB)
     |████████████████████████████████| 722 kB 30.3 MB/s
  Downloading distributed-2021.6.0-py3-none-any.whl (715 kB)
     |████████████████████████████████| 715 kB 70.2 MB/s
  Downloading distributed-2021.5.1-py3-none-any.whl (705 kB)
     |████████████████████████████████| 705 kB 65.0 MB/s
  Downloading distributed-2021.5.0-py3-none-any.whl (699 kB)
     |████████████████████████████████| 699 kB 59.3 MB/s
  Downloading distributed-2021.4.1-py3-none-any.whl (696 kB)
     |████████████████████████████████| 696 kB 59.2 MB/s
  Downloading distributed-2021.4.0-py3-none-any.whl (684 kB)
     |████████████████████████████████| 684 kB 63.4 MB/s
  Downloading distributed-2021.3.1-py3-none-any.whl (679 kB)
     |████████████████████████████████| 679 kB 56.8 MB/s
  Downloading distributed-2021.3.0-py3-none-any.whl (675 kB)
     |████████████████████████████████| 675 kB 55.0 MB/s
  Downloading distributed-2021.2.0-py3-none-any.whl (675 kB)
     |████████████████████████████████| 675 kB 54.3 MB/s
  Downloading distributed-2021.1.1-py3-none-any.whl (672 kB)
     |████████████████████████████████| 672 kB 51.0 MB/s
  Downloading distributed-2021.1.0-py3-none-any.whl (671 kB)
     |████████████████████████████████| 671 kB 55.3 MB/s
  Downloading distributed-2020.12.0-py3-none-any.whl (669 kB)
     |████████████████████████████████| 669 kB 54.4 MB/s
  Downloading distributed-2.30.1-py3-none-any.whl (656 kB)
     |████████████████████████████████| 656 kB 55.2 MB/s
Requirement already satisfied: psutil>=5.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (5.4.8)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2>=2.9->bokeh>=1.0.0->dask[complete]) (2.0.1)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=16.8->bokeh>=1.0.0->dask[complete]) (2.4.7)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->dask[complete]) (2018.9)
Collecting locket
  Downloading locket-0.2.1-py2.py3-none-any.whl (4.1 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->bokeh>=1.0.0->dask[complete]) (1.15.0)
Requirement already satisfied: heapdict in /usr/local/lib/python3.7/dist-packages (from zict>=0.1.3->distributed>=2.0->dask[complete]) (1.0.1)
Installing collected packages: locket, cloudpickle, partd, fsspec, distributed
  Attempting uninstall: cloudpickle
    Found existing installation: cloudpickle 1.3.0
    Uninstalling cloudpickle-1.3.0:
      Successfully uninstalled cloudpickle-1.3.0
  Attempting uninstall: distributed
    Found existing installation: distributed 1.25.3
    Uninstalling distributed-1.25.3:
      Successfully uninstalled distributed-1.25.3
Successfully installed cloudpickle-1.6.0 distributed-2.30.1 fsspec-2021.7.0 locket-0.2.1 partd-1.2.0

In [2]:
import tensorflow as tf
import pandas as pd
import numpy as np
import dask.dataframe as dd
import os

## Data
* Dataset(Kaggle) : https://www.kaggle.com/kentonnlp/2014-new-york-city-taxi-trips?select=nyc_taxi_data_2014.csv
* The Dataset was download on my Google Drive to be used in this Colab Notebook
* Shared file on Drive: https://drive.google.com/file/d/12HilR722L7wiL4T1iuB83oBlMzrKOSbh/view?usp=sharing

In [3]:
# to use file from Google Drive 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# To extract the zio file
!unzip  /content/drive/MyDrive/nyc_taxi_data_2014.csv.zip

Archive:  /content/drive/MyDrive/nyc_taxi_data_2014.csv.zip
  inflating: nyc_taxi_data_2014.csv

In [5]:
!ls -lh

total 2.4G
drwx------ 5 root root 4.0K Aug  9 04:35 drive
-rw-r--r-- 1 root root 2.4G Sep 20  2019 nyc_taxi_data_2014.csv
drwxr-xr-x 1 root root 4.0K Jul 16 13:20 sample_data

file weigtht: 2.4G

## Testing reading options

### Using Pandas

In [6]:
file_path = 'nyc_taxi_data_2014.csv'

In [7]:
%%time
df=pd.read_csv(file_path)
df

<string>:2: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.

CPU times: user 25.8 s, sys: 2.68 s, total: 28.5 s
Wall time: 32.7 s

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999999 entries, 0 to 14999998
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   vendor_id           object
 1   pickup_datetime     object
 2   dropoff_datetime    object
 3   passenger_count     int64
 4   trip_distance       float64
 5   pickup_longitude    float64
 6   pickup_latitude     float64
 7   rate_code           int64
 8   store_and_fwd_flag  object
 9   dropoff_longitude   float64
 10  dropoff_latitude    float64
 11  payment_type        object
 12  fare_amount         float64
 13  surcharge           float64
 14  mta_tax             float64
 15  tip_amount          float64
 16  tolls_amount        float64
 17  total_amount        float64
dtypes: float64(11), int64(2), object(5)
memory usage: 2.0+ GB

Using Pandas my local machine reduces its performance because pd.read_csv loads the whole file into memory and my local memory is only 6GB

### Using Dask

Dask first creates a task graph

In [9]:
df=dd.read_csv(file_path,blocksize=250e6)
df

Dask DataFrame Structure:
               vendor_id pickup_datetime dropoff_datetime passenger_count trip_distance pickup_longitude pickup_latitude rate_code store_and_fwd_flag dropoff_longitude dropoff_latitude payment_type fare_amount surcharge  mta_tax tip_amount tolls_amount total_amount
npartitions=11
                  object          object           object           int64       float64          float64         float64     int64             object           float64          float64       object     float64   float64  float64    float64      float64      float64
                     ...             ...              ...             ...           ...              ...             ...       ...                ...               ...              ...          ...         ...       ...      ...        ...          ...          ...
...                  ...             ...              ...             ...           ...              ...             ...       ...                ...               ...              ...          ...         ...       ...      ...        ...          ...          ...
                     ...             ...              ...             ...           ...              ...             ...       ...                ...               ...              ...          ...         ...       ...      ...        ...          ...          ...
                     ...             ...              ...             ...           ...              ...             ...       ...                ...               ...              ...          ...         ...       ...      ...        ...          ...          ...
Dask Name: from-delayed, 33 tasks

Now, it's executed

In [10]:
%%time 
df.compute()

/usr/local/lib/python3.7/dist-packages/dask/core.py:121: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  return func(*(_execute_task(a, cache) for a in args))

CPU times: user 31.1 s, sys: 1.59 s, total: 32.7 s
Wall time: 1min 4s

       vendor_id      pickup_datetime  ... tolls_amount  total_amount
0            CMT  2014-01-09 20:45:25  ...         0.00          8.90
1            CMT  2014-01-09 20:46:12  ...         0.00         11.40
2            CMT  2014-01-09 20:44:47  ...         0.00         14.00
3            CMT  2014-01-09 20:44:57  ...         0.00         10.20
4            CMT  2014-01-09 20:47:09  ...         0.00          8.75
...          ...                  ...  ...          ...           ...
186563       VTS  2014-02-03 19:28:00  ...         0.00         10.00
186564       VTS  2014-02-07 00:55:00  ...         0.00         20.50
186565       VTS  2014-02-03 18:08:00  ...         7.08        160.08
186566       VTS  2014-02-07 00:58:00  ...         0.00         17.90
186567       VTS  2014-02-07 01:05:00  ...         0.00         10.50

[14999999 rows x 18 columns]

Using Dask the total processing time is similar, but since Dask only loads a chunk of the Dataframe into memory and the rest is kept on disk until processed, Dask allows me loading large files even though my machine is low on memory.

### Using tf.data API (chosen option)

The Dataset API allows you to build an asynchronous, highly optimized data pipeline. A Tensorflow dataset object is a Python iterable and when operations are executed, this object works as a generator by loading only parts of the dataset into memory.

tf.data.experimental.make_csv_dataset reads CSV files into a dataset, where each element of the dataset is a (features, labels) tuple that corresponds to a batch of CSV rows

# Data Ingestion

Normal reading process of the file with tf.data

In [11]:

nyc_taxi_data_ds = tf.data.experimental.make_csv_dataset(
    file_path,
    batch_size=10, 
    label_name=None,
    num_epochs=1,
    shuffle= False,
    ignore_errors=True,)


viewing one batch

In [12]:
%%time
next(nyc_taxi_data_ds.__iter__())

CPU times: user 41 ms, sys: 12 ms, total: 53.1 ms
Wall time: 231 ms

OrderedDict([('vendor_id', <tf.Tensor: shape=(10,), dtype=string, numpy=
              array([b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT',
                     b'CMT', b'CMT'], dtype=object)>),
             ('pickup_datetime', <tf.Tensor: shape=(10,), dtype=string, numpy=
              array([b'2014-01-09 20:45:25', b'2014-01-09 20:46:12',
                     b'2014-01-09 20:44:47', b'2014-01-09 20:44:57',
                     b'2014-01-09 20:47:09', b'2014-01-09 20:45:07',
                     b'2014-01-09 20:44:04', b'2014-01-09 20:43:23',
                     b'2014-01-09 20:43:04', b'2014-01-09 20:50:23'], dtype=object)>),
             ('dropoff_datetime', <tf.Tensor: shape=(10,), dtype=string, numpy=
              array([b'2014-01-09 20:52:31', b'2014-01-09 20:55:12',
                     b'2014-01-09 20:59:46', b'2014-01-09 20:51:40',
                     b'2014-01-09 20:53:32', b'2014-01-09 20:51:01',
                     b'2014-01-09 21:05:45', b'2014-01-09 20:52:07',
                     b'2014-01-09 20:54:29', b'2014-01-09 20:58:10'], dtype=object)>),
             ('passenger_count',
              <tf.Tensor: shape=(10,), dtype=int32, numpy=array([1, 1, 2, 1, 1, 1, 1, 1, 1, 1], dtype=int32)>),
             ('trip_distance',
              <tf.Tensor: shape=(10,), dtype=float32, numpy=array([0.7, 1.4, 2.3, 1.7, 0.9, 0.9, 3.6, 2.1, 3.4, 2.3], dtype=float32)>),
             ('pickup_longitude',
              <tf.Tensor: shape=(10,), dtype=float32, numpy=
              array([-73.99477 , -73.98239 , -73.98857 , -73.96021 , -73.99537 ,
                     -73.98381 , -73.98414 , -73.979904, -73.98115 , -73.95519 ],
                    dtype=float32)>),
             ('pickup_latitude', <tf.Tensor: shape=(10,), dtype=float32, numpy=
              array([40.736828, 40.77338 , 40.739407, 40.770466, 40.717247, 40.749657,
                     40.72632 , 40.74585 , 40.75892 , 40.76547 ], dtype=float32)>),
             ('rate_code',
              <tf.Tensor: shape=(10,), dtype=int32, numpy=array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int32)>),
             ('store_and_fwd_flag',
              <tf.Tensor: shape=(10,), dtype=string, numpy=
              array([b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N'],
                    dtype=object)>),
             ('dropoff_longitude',
              <tf.Tensor: shape=(10,), dtype=float32, numpy=
              array([-73.98222 , -73.96045 , -73.986626, -73.979866, -73.98437 ,
                     -73.989746, -73.96287 , -73.95909 , -73.94251 , -73.97903 ],
                    dtype=float32)>),
             ('dropoff_latitude',
              <tf.Tensor: shape=(10,), dtype=float32, numpy=
              array([40.73179 , 40.763996, 40.765217, 40.77705 , 40.720524, 40.756577,
                     40.758442, 40.77364 , 40.785976, 40.740578], dtype=float32)>),
             ('payment_type', <tf.Tensor: shape=(10,), dtype=string, numpy=
              array([b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD',
                     b'CRD', b'CRD'], dtype=object)>),
             ('fare_amount', <tf.Tensor: shape=(10,), dtype=float32, numpy=
              array([ 6.5,  8.5, 11.5,  7.5,  6. ,  6. , 16.5,  9. , 12. ,  9. ],
                    dtype=float32)>),
             ('surcharge',
              <tf.Tensor: shape=(10,), dtype=float32, numpy=array([0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5], dtype=float32)>),
             ('mta_tax',
              <tf.Tensor: shape=(10,), dtype=float32, numpy=array([0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5], dtype=float32)>),
             ('tip_amount', <tf.Tensor: shape=(10,), dtype=float32, numpy=
              array([1.4 , 1.9 , 1.5 , 1.7 , 1.75, 1.4 , 5.25, 2.  , 2.6 , 1.  ],
                    dtype=float32)>),
             ('tolls_amount',
              <tf.Tensor: shape=(10,), dtype=float32, numpy=array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32)>),
             ('total_amount', <tf.Tensor: shape=(10,), dtype=float32, numpy=
              array([ 8.9 , 11.4 , 14.  , 10.2 ,  8.75,  8.4 , 22.75, 12.  , 15.6 ,
                     11.  ], dtype=float32)>)])

The total processing time is similar to Dask, but tf.data takes less memory and allows me to crate a full data pipeline, tha's why it was chosen

In [13]:
column_names = list(nyc_taxi_data_ds.element_spec.keys())
column_names

['vendor_id',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'pickup_longitude',
 'pickup_latitude',
 'rate_code',
 'store_and_fwd_flag',
 'dropoff_longitude',
 'dropoff_latitude',
 'payment_type',
 'fare_amount',
 'surcharge',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'total_amount']

In [14]:
%%writefile utils.py
import re
import yaml
import logging
import tensorflow as tf
from csv import reader
import numpy as np
import os



def read_config_file(filepath):
    with open(filepath, 'r') as stream:
        try:
            return yaml.safe_load(stream)
        except yaml.YAMLError as exc:
            logging.error(exc)


def get_csv_header(file_path):
    with open(file_path, 'r') as read_obj:
        csv_reader = reader(read_obj)
        header = next(iter(csv_reader))
    return header


def replacer(string, char):
    pattern = char + '{2,}'
    string = re.sub(pattern, char, string) 
    return string

def header_cleaning(columns):
    columns = map(lambda x: x.lower(), columns)
    columns = map(lambda x: re.sub('[^\w]', '_', x), columns)
    columns = map(lambda x: x.strip('_'), columns)
    columns = map(lambda x: replacer(x,'_'), columns)
    return list(columns)

def validate(file_path,table_config):

    column_names = get_csv_header(file_path)
    #column_names = list(dataset.element_spec.keys())
    column_names = header_cleaning(column_names)
    column_names.sort()
    
    column_expected = table_config['columns']
    sort_expected_column=column_expected.copy()
    sort_expected_column.sort()
    
    if len(column_names) == len(column_expected) and column_names == sort_expected_column:
        print("validation passed")
        val_dataset = tf.data.experimental.make_csv_dataset(
            file_path,
            header=True,
            column_names=column_expected,
            batch_size=100,
            field_delim=table_config['inbound_delimiter'], 
            label_name=None,
            num_epochs=1,
            shuffle=False,
            ignore_errors=True,)
        
        return val_dataset

    else: 
        print("\ncolumn name and column length validation failed")
        mismatched_columns_file = list(set(column_names ).difference(sort_expected_column))
        if len(mismatched_columns_file)!=0:
            print("\nFollowing File columns are not in the YAML file",mismatched_columns_file) 
        missing_YAML_file = list(set(sort_expected_column).difference(column_names))
        if len(missing_YAML_file)!=0:
            print("\nFollowing YAML columns are not in the file uploaded",missing_YAML_file)
        
        return None


def to_string(x,delimiter):
    
    if isinstance(x, bytes):
        return x.decode() + delimiter
    else:
        return str(x) + delimiter


def count(dataset):
    s=0
    for batch in dataset:
        for key,values in batch.items(): 
            s+=len(values)
            break
    return s


def batch_to_write(batch):
    keys = []
    for n,(key,value) in enumerate(batch.items()):
        keys.append(key)

        if n != 0:
            values=np.vstack((values,value.numpy()))
        
        else:
            values = value.numpy()

    return keys,values.T 


def write_txt(txt_file,batch,delimiter):

    header, values = batch_to_write(batch)

    with open(txt_file,'a') as file:
        n_cols = len(header)
        delimiter=list(delimiter*(n_cols-1))
        delimiter.append('\n')
                
        if os.path.getsize(txt_file)==0:
            file.writelines(map(to_string,header,delimiter))
                    
        for row in values:
            line=list(map(to_string,list(row),delimiter))      
            file.writelines(line)
                    
    return n_cols

Writing utils.py

Write YAML file

In [15]:
%%writefile config.yaml
file_type: csv
dataset_name: "2014 New York City Taxi Trips"
file_name: nyc_taxi_data_2014
inbound_delimiter: ","
outbound_delimiter: "|"
skip_leading_rows: 1
columns: 
    - vendor_id
    - pickup_datetime
    - dropoff_datetime
    - passenger_count
    - trip_distance
    - pickup_longitude
    - pickup_latitude
    - rate_code
    - store_and_fwd_flag
    - dropoff_longitude
    - dropoff_latitude
    - payment_type
    - fare_amount
    - surcharge
    - mta_tax
    - tip_amount
    - tolls_amount
    - total_amount

Writing config.yaml

### Read the file using config file

### Write validated file

In [16]:
import utils

def data_ingestion(yaml_file,destination_file):

    config_data = utils.read_config_file(yaml_file)
    file_path = './'+config_data['file_name']+'.'+config_data['file_type']
    
    print('Configuration Data\n',config_data)
    
    dataset = utils.validate(file_path,config_data)

    if dataset != None:

        total_rows=utils.count(dataset)

        for batch in dataset:
            total_cols = utils.write_txt(destination_file,batch,config_data['outbound_delimiter'])
        
        file_size = (os.path.getsize(destination_file))/1e+9

        summary_out_file = {'Total_rows': total_rows,
                            'Total_columns':total_cols,
                            'size_file':str(round(file_size, ndigits=2))+" GB"}

        print('Done! ingestion finished')

        return dataset, summary_out_file

    else:
        return 'Dataset was not created'

Data ingestion

In [17]:
config_file = 'config.yaml'
destination_txt = 'output.txt'
dataset, summary_out_file = data_ingestion(config_file,destination_txt)

Configuration Data
 {'file_type': 'csv', 'dataset_name': '2014 New York City Taxi Trips', 'file_name': 'nyc_taxi_data_2014', 'inbound_delimiter': ',', 'outbound_delimiter': '|', 'skip_leading_rows': 1, 'columns': ['vendor_id', 'pickup_datetime', 'dropoff_datetime', 'passenger_count', 'trip_distance', 'pickup_longitude', 'pickup_latitude', 'rate_code', 'store_and_fwd_flag', 'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount', 'surcharge', 'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount']}
validation passed
Done! ingestion finished

In [18]:
summary_out_file

{'Total_columns': 18, 'Total_rows': 14999999, 'size_file': '2.66 GB'}

In [19]:
# dataset batch
next(dataset.__iter__())

OrderedDict([('vendor_id', <tf.Tensor: shape=(100,), dtype=string, numpy=
              array([b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT',
                     b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT',
                     b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT',
                     b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT',
                     b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT',
                     b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT',
                     b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT',
                     b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT',
                     b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT',
                     b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT',
                     b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT',
                     b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT', b'CMT',
                     b'CMT', b'CMT', b'CMT', b'CMT'], dtype=object)>),
             ('pickup_datetime', <tf.Tensor: shape=(100,), dtype=string, numpy=
              array([b'2014-01-09 20:45:25', b'2014-01-09 20:46:12',
                     b'2014-01-09 20:44:47', b'2014-01-09 20:44:57',
                     b'2014-01-09 20:47:09', b'2014-01-09 20:45:07',
                     b'2014-01-09 20:44:04', b'2014-01-09 20:43:23',
                     b'2014-01-09 20:43:04', b'2014-01-09 20:50:23',
                     b'2014-01-09 20:51:36', b'2014-01-09 20:48:04',
                     b'2014-01-09 20:47:49', b'2014-01-09 20:48:47',
                     b'2014-01-09 20:47:51', b'2014-01-09 20:49:49',
                     b'2014-01-09 16:51:35', b'2014-01-09 16:43:29',
                     b'2014-01-09 16:46:50', b'2014-01-09 16:47:00',
                     b'2014-01-09 16:51:14', b'2014-01-09 16:42:16',
                     b'2014-01-09 16:42:05', b'2014-01-09 16:43:37',
                     b'2014-01-09 16:46:36', b'2014-01-09 16:49:16',
                     b'2014-01-09 16:48:12', b'2014-01-09 16:44:22',
                     b'2014-01-09 16:50:42', b'2014-01-09 16:48:14',
                     b'2014-01-09 16:48:35', b'2014-01-09 16:48:42',
                     b'2014-01-09 16:45:21', b'2014-01-09 16:48:27',
                     b'2014-01-09 16:49:33', b'2014-01-09 16:46:38',
                     b'2014-01-09 16:44:07', b'2014-01-09 16:48:37',
                     b'2014-01-09 16:45:41', b'2014-01-09 16:45:35',
                     b'2014-01-09 16:50:33', b'2014-01-09 21:49:26',
                     b'2014-01-09 21:47:04', b'2014-01-09 21:49:36',
                     b'2014-01-09 21:51:25', b'2014-01-09 21:48:04',
                     b'2014-01-09 21:49:31', b'2014-01-09 21:51:48',
                     b'2014-01-09 21:44:59', b'2014-01-09 21:45:30',
                     b'2014-01-09 21:53:53', b'2014-01-09 21:54:09',
                     b'2014-01-09 21:51:23', b'2014-01-09 21:52:51',
                     b'2014-01-09 21:56:27', b'2014-01-09 21:53:26',
                     b'2014-01-09 21:50:20', b'2014-01-09 21:51:16',
                     b'2014-01-09 21:44:48', b'2014-01-09 21:47:23',
                     b'2014-01-09 21:44:53', b'2014-01-09 21:48:11',
                     b'2014-01-09 21:49:35', b'2014-01-09 21:48:44',
                     b'2014-01-09 21:48:46', b'2014-01-09 21:48:01',
                     b'2014-01-09 21:52:28', b'2014-01-09 21:48:43',
                     b'2014-01-09 21:51:14', b'2014-01-09 21:55:52',
                     b'2014-01-09 21:47:06', b'2014-01-09 21:56:31',
                     b'2014-01-09 21:50:48', b'2014-01-09 21:53:56',
                     b'2014-01-09 21:56:40', b'2014-01-09 21:54:03',
                     b'2014-01-09 21:57:26', b'2014-01-09 21:55:21',
                     b'2014-01-09 21:52:52', b'2014-01-09 21:54:18',
                     b'2014-01-09 21:57:19', b'2014-01-09 21:56:07',
                     b'2014-01-09 20:07:02', b'2014-01-09 20:12:06',
                     b'2014-01-09 20:05:25', b'2014-01-09 20:09:22',
                     b'2014-01-09 20:06:15', b'2014-01-09 20:09:27',
                     b'2014-01-09 20:11:13', b'2014-01-09 22:13:28',
                     b'2014-01-09 22:19:44', b'2014-01-09 22:14:35',
                     b'2014-01-09 22:12:07', b'2014-01-09 18:57:22',
                     b'2014-01-09 18:57:27', b'2014-01-09 18:56:36',
                     b'2014-01-09 19:07:08', b'2014-01-09 19:04:36',
                     b'2014-01-09 19:04:56', b'2014-01-09 19:07:54'], dtype=object)>),
             ('dropoff_datetime',
              <tf.Tensor: shape=(100,), dtype=string, numpy=
              array([b'2014-01-09 20:52:31', b'2014-01-09 20:55:12',
                     b'2014-01-09 20:59:46', b'2014-01-09 20:51:40',
                     b'2014-01-09 20:53:32', b'2014-01-09 20:51:01',
                     b'2014-01-09 21:05:45', b'2014-01-09 20:52:07',
                     b'2014-01-09 20:54:29', b'2014-01-09 20:58:10',
                     b'2014-01-09 21:15:07', b'2014-01-09 21:01:37',
                     b'2014-01-09 20:56:11', b'2014-01-09 20:56:52',
                     b'2014-01-09 21:02:31', b'2014-01-09 21:20:38',
                     b'2014-01-09 17:00:17', b'2014-01-09 16:59:15',
                     b'2014-01-09 16:56:41', b'2014-01-09 17:37:58',
                     b'2014-01-09 16:51:34', b'2014-01-09 16:58:42',
                     b'2014-01-09 17:30:27', b'2014-01-09 16:56:23',
                     b'2014-01-09 16:52:44', b'2014-01-09 17:01:00',
                     b'2014-01-09 16:52:09', b'2014-01-09 16:47:59',
                     b'2014-01-09 17:10:17', b'2014-01-09 16:57:56',
                     b'2014-01-09 16:55:40', b'2014-01-09 17:13:00',
                     b'2014-01-09 16:49:01', b'2014-01-09 17:11:35',
                     b'2014-01-09 17:09:07', b'2014-01-09 16:57:00',
                     b'2014-01-09 17:04:22', b'2014-01-09 16:54:16',
                     b'2014-01-09 17:38:15', b'2014-01-09 17:27:44',
                     b'2014-01-09 17:26:56', b'2014-01-09 21:55:20',
                     b'2014-01-09 21:50:38', b'2014-01-09 21:57:14',
                     b'2014-01-09 22:10:02', b'2014-01-09 21:55:46',
                     b'2014-01-09 21:51:59', b'2014-01-09 21:55:08',
                     b'2014-01-09 22:04:38', b'2014-01-09 22:16:49',
                     b'2014-01-09 22:00:45', b'2014-01-09 22:04:06',
                     b'2014-01-09 22:25:38', b'2014-01-09 22:00:31',
                     b'2014-01-09 22:03:59', b'2014-01-09 22:10:11',
                     b'2014-01-09 22:09:37', b'2014-01-09 22:03:26',
                     b'2014-01-09 22:13:47', b'2014-01-09 22:05:41',
                     b'2014-01-09 22:08:45', b'2014-01-09 21:57:40',
                     b'2014-01-09 22:02:19', b'2014-01-09 22:00:51',
                     b'2014-01-09 21:54:13', b'2014-01-09 21:59:00',
                     b'2014-01-09 22:10:03', b'2014-01-09 21:48:55',
                     b'2014-01-09 21:55:03', b'2014-01-09 22:03:10',
                     b'2014-01-09 22:11:06', b'2014-01-09 22:14:33',
                     b'2014-01-09 22:18:05', b'2014-01-09 22:02:22',
                     b'2014-01-09 22:08:58', b'2014-01-09 22:04:22',
                     b'2014-01-09 22:06:33', b'2014-01-09 22:03:50',
                     b'2014-01-09 22:11:41', b'2014-01-09 22:04:39',
                     b'2014-01-09 22:03:42', b'2014-01-09 22:11:03',
                     b'2014-01-09 20:21:27', b'2014-01-09 20:15:00',
                     b'2014-01-09 20:39:53', b'2014-01-09 20:18:15',
                     b'2014-01-09 20:18:54', b'2014-01-09 20:18:19',
                     b'2014-01-09 20:16:56', b'2014-01-09 22:35:03',
                     b'2014-01-09 22:26:58', b'2014-01-09 22:27:15',
                     b'2014-01-09 22:30:43', b'2014-01-09 19:14:23',
                     b'2014-01-09 19:15:31', b'2014-01-09 19:40:56',
                     b'2014-01-09 19:09:59', b'2014-01-09 19:20:03',
                     b'2014-01-09 19:17:54', b'2014-01-09 19:18:33'], dtype=object)>),
             ('passenger_count', <tf.Tensor: shape=(100,), dtype=int32, numpy=
              array([1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 3, 1, 1, 1, 1, 1, 1, 1,
                     1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1,
                     1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
                     1, 1, 1, 2, 1, 1, 1, 2, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2,
                     1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int32)>),
             ('trip_distance', <tf.Tensor: shape=(100,), dtype=float32, numpy=
              array([ 0.7,  1.4,  2.3,  1.7,  0.9,  0.9,  3.6,  2.1,  3.4,  2.3,  9.5,
                      3.3,  1.8,  1.4,  2.6, 11.2,  1.7,  4.7,  1.6, 17.9,  0. ,  2.1,
                     14.3,  1.6,  1.3,  1.3,  0.8,  0.6,  3.8,  1.8,  1.2,  2.3,  0.6,
                      4.3,  2.6,  2.6,  8.3,  1.9, 16.7,  7.7,  3.1,  1.4,  0.9,  1.7,
                      7. ,  1.5,  0.5,  0.6,  5. ,  8.7,  1.5,  1.8,  9.7,  2.6,  1.3,
                      4.1,  2.3,  2.5, 13.4,  3.5,  5.6,  1.3,  4.1,  3.2,  0.9,  2.4,
                      4.2,  0. ,  0.5,  1.4, 10.7,  3.8,  5.3,  2.9,  5.3,  2.9,  1.9,
                      1.5,  4.7,  2.6,  1.6,  3.7,  3.4,  0.4, 13. ,  1.4,  2.1,  2. ,
                      1.4,  5.1,  1.7,  3.2,  4.3,  2. ,  2.6, 19.9,  0.4,  1.8,  2.6,
                      2.2], dtype=float32)>),
             ('pickup_longitude',
              <tf.Tensor: shape=(100,), dtype=float32, numpy=
              array([-73.99477 , -73.98239 , -73.98857 , -73.96021 , -73.99537 ,
                     -73.98381 , -73.98414 , -73.979904, -73.98115 , -73.95519 ,
                     -73.88528 , -73.99178 , -73.96571 , -73.97701 , -73.97765 ,
                     -73.78827 , -74.0075  , -74.01487 , -73.967674, -73.78173 ,
                     -73.79056 , -73.98881 , -74.01369 , -73.970116, -73.99154 ,
                     -73.96064 , -73.97973 , -73.97538 , -73.94621 , -73.99216 ,
                     -73.990265, -73.98909 , -73.977264, -74.01238 , -73.979546,
                     -73.95214 , -73.865555, -73.93414 , -73.989494, -73.96899 ,
                     -73.9404  , -74.002426, -73.96047 , -73.98082 , -74.00346 ,
                     -73.979416, -73.98953 , -73.97041 , -73.982765, -73.86301 ,
                     -73.991135, -74.00266 , -73.97629 , -74.00271 , -73.98804 ,
                     -73.991585, -73.97584 , -73.99011 , -74.01271 , -73.967804,
                     -74.00832 , -73.969055, -74.002495, -73.98556 , -73.988884,
                     -73.978424, -74.00529 , -73.99076 , -73.99239 , -73.982315,
                     -73.976685, -73.952194, -73.98041 , -74.00786 , -73.94718 ,
                     -73.987785, -73.96775 , -73.98692 , -73.9923  , -73.98196 ,
                     -74.00017 , -73.99047 , -73.95413 , -73.98498 , -73.87309 ,
                       0.      , -73.98488 , -73.96485 , -73.96551 , -73.99023 ,
                     -73.96821 ,   0.      , -73.97802 , -74.0081  , -74.00515 ,
                     -73.77674 , -73.98255 , -73.951195, -73.995766, -73.99059 ],
                    dtype=float32)>),
             ('pickup_latitude',
              <tf.Tensor: shape=(100,), dtype=float32, numpy=
              array([40.736828, 40.77338 , 40.739407, 40.770466, 40.717247, 40.749657,
                     40.72632 , 40.74585 , 40.75892 , 40.76547 , 40.77305 , 40.748913,
                     40.758675, 40.75162 , 40.75368 , 40.64754 , 40.72599 , 40.709354,
                     40.763107, 40.64473 , 40.643936, 40.751015, 40.709328, 40.75286 ,
                     40.73892 , 40.768772, 40.78171 , 40.761055, 40.77299 , 40.731083,
                     40.72905 , 40.73667 , 40.743053, 40.706738, 40.73546 , 40.82443 ,
                     40.77048 , 40.801945, 40.74045 , 40.765663, 40.751305, 40.734447,
                     40.770138, 40.76435 , 40.748905, 40.766495, 40.734318, 40.7595  ,
                     40.743565, 40.769184, 40.73973 , 40.751133, 40.75459 , 40.733162,
                     40.718685, 40.735313, 40.749046, 40.719048, 40.70247 , 40.76086 ,
                     40.729774, 40.7611  , 40.75019 , 40.731586, 40.73691 , 40.736843,
                     40.742397, 40.72059 , 40.725086, 40.77167 , 40.75506 , 40.781406,
                     40.753944, 40.742874, 40.776073, 40.7601  , 40.756126, 40.733265,
                     40.729065, 40.771244, 40.73302 , 40.73485 , 40.765564, 40.763725,
                     40.773952,  0.      , 40.7405  , 40.755623, 40.76128 , 40.737053,
                     40.75537 ,  0.      , 40.783504, 40.746105, 40.74796 , 40.645195,
                     40.742622, 40.77655 , 40.744007, 40.702663], dtype=float32)>),
             ('rate_code', <tf.Tensor: shape=(100,), dtype=int32, numpy=
              array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1,
                     1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1,
                     1, 1, 1, 1, 1, 1, 1, 1, 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
                     1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
                     1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1], dtype=int32)>),
             ('store_and_fwd_flag',
              <tf.Tensor: shape=(100,), dtype=string, numpy=
              array([b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N',
                     b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'Y',
                     b'N', b'N', b'N', b'N', b'Y', b'N', b'N', b'N', b'N', b'N', b'N',
                     b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N',
                     b'N', b'N', b'N', b'N', b'Y', b'N', b'N', b'N', b'Y', b'N', b'N',
                     b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N',
                     b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N',
                     b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N',
                     b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N', b'N',
                     b'N'], dtype=object)>),
             ('dropoff_longitude',
              <tf.Tensor: shape=(100,), dtype=float32, numpy=
              array([-73.98222 , -73.96045 , -73.986626, -73.979866, -73.98437 ,
                     -73.989746, -73.96287 , -73.95909 , -73.94251 , -73.97903 ,
                     -73.98088 , -73.98836 , -73.98406 , -73.98264 , -73.95225 ,
                     -73.94923 , -73.98818 , -73.986084, -73.95259 , -73.97861 ,
                     -73.79056 , -73.996   , -73.88567 , -73.95414 , -73.99474 ,
                     -73.97668 , -73.97665 , -73.979164, -73.99402 , -73.97538 ,
                     -73.995735, -73.98574 , -73.9854  , -73.951965, -73.97149 ,
                     -73.9683  , -73.95818 , -73.95259 , -73.78361 , -73.99564 ,
                     -73.96446 , -73.98608 , -73.955055, -73.991234, -73.99672 ,
                     -73.99829 , -73.983345, -73.974724, -73.954254, -73.98771 ,
                     -74.00111 , -74.00266 , -74.05793 , -74.00271 , -74.00559 ,
                     -73.9581  , -73.97199 , -73.993256, -73.86003 , -74.00471 ,
                     -73.95404 , -73.98873 , -73.95592 , -73.98436 , -73.98997 ,
                     -73.981285, -73.96011 , -73.99076 , -73.98853 , -73.967674,
                     -73.9763  , -73.98608 , -73.99174 , -73.98528 , -73.98667 ,
                     -73.95566 , -73.98775 , -74.00568 , -73.98142 , -73.95292 ,
                     -73.97907 , -73.95788 , -73.98487 , -73.98228 , -73.93895 ,
                       0.      , -74.00783 , -73.94746 , -73.957924, -73.94044 ,
                     -73.951836,   0.      , -73.989525, -73.97835 , -73.9937  ,
                     -74.01026 , -73.98885 , -73.97    , -74.01043 , -74.01418 ],
                    dtype=float32)>),
             ('dropoff_latitude',
              <tf.Tensor: shape=(100,), dtype=float32, numpy=
              array([40.73179 , 40.763996, 40.765217, 40.77705 , 40.720524, 40.756577,
                     40.758442, 40.77364 , 40.785976, 40.740578, 40.777386, 40.714207,
                     40.73745 , 40.766575, 40.777676, 40.6527  , 40.734585, 40.759083,
                     40.778187, 40.76182 , 40.643932, 40.726658, 40.773193, 40.76408 ,
                     40.724133, 40.76534 , 40.79089 , 40.753876, 40.75025 , 40.75045 ,
                     40.741028, 40.7627  , 40.739822, 40.71176 , 40.76534 , 40.79196 ,
                     40.800846, 40.779057, 40.643684, 40.697605, 40.764385, 40.74022 ,
                     40.78175 , 40.750717, 40.663364, 40.756863, 40.734478, 40.755363,
                     40.80306 , 40.770283, 40.721733, 40.751133, 40.742813, 40.733162,
                     40.71786 , 40.717484, 40.755997, 40.74653 , 40.720963, 40.738316,
                     40.78434 , 40.762424, 40.77386 , 40.691517, 40.74707 , 40.762653,
                     40.77047 , 40.7206  , 40.719917, 40.75821 , 40.657356, 40.734867,
                     40.69131 , 40.778812, 40.720917, 40.77963 , 40.73763 , 40.745605,
                     40.78272 , 40.78669 , 40.737232, 40.71414 , 40.749214, 40.768948,
                     40.663902,  0.      , 40.716705, 40.78195 , 40.77903 , 40.694233,
                     40.773468,  0.      , 40.73607 , 40.729504, 40.721516, 40.717533,
                     40.741207, 40.758442, 40.7191  , 40.716972], dtype=float32)>),
             ('payment_type', <tf.Tensor: shape=(100,), dtype=string, numpy=
              array([b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD',
                     b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD',
                     b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD',
                     b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD',
                     b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD',
                     b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD',
                     b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD',
                     b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD',
                     b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD',
                     b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD',
                     b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD',
                     b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD', b'CRD',
                     b'CRD', b'CRD', b'CRD', b'CRD'], dtype=object)>),
             ('fare_amount', <tf.Tensor: shape=(100,), dtype=float32, numpy=
              array([ 6.5,  8.5, 11.5,  7.5,  6. ,  6. , 16.5,  9. , 12. ,  9. , 28.5,
                     12.5,  8.5,  7.5, 12.5, 35.5,  8.5, 16. ,  9. , 52. , 52. , 12.5,
                     45.5, 10. ,  6.5,  9. ,  5. ,  4.5, 15.5,  9. ,  6.5, 16. ,  4.5,
                     18. , 14. , 10.5, 25. ,  7.5, 52. , 30.5, 21.5,  6.5,  5. ,  8. ,
                     21.5,  7.5,  4. ,  4.5, 19. , 29.5,  7. ,  9. , 61. , 10. ,  7.5,
                     15.5, 13.5, 11. , 38. , 14.5, 20. ,  8. , 13.5, 12.5,  6. , 10.5,
                     16. , 52. ,  4.5,  7. , 31.5, 15. , 21. , 10.5, 17. , 10.5,  9. ,
                      8. , 17. , 10.5,  7. , 14.5, 13.5,  4. , 38.5,  7.5, 10.5,  9. ,
                      7. , 20. ,  7.5, 12.5, 16. , 12.5, 13.5, 52. ,  4. , 11. , 11. ,
                     10. ], dtype=float32)>),
             ('surcharge', <tf.Tensor: shape=(100,), dtype=float32, numpy=
              array([0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,

### Testing a file that does not match

Create a new test configuration file by renaming only the csv file

In [20]:
%%writefile test_config.yaml

file_type: csv
dataset_name: "Test dataset"
file_name: test_file
inbound_delimiter: ","
outbound_delimiter: "|"
skip_leading_rows: 1
columns: 
    - vendor_id
    - pickup_datetime
    - dropoff_datetime
    - passenger_count
    - trip_distance
    - pickup_longitude
    - pickup_latitude
    - rate_code
    - store_and_fwd_flag
    - dropoff_longitude
    - dropoff_latitude
    - payment_type
    - fare_amount
    - surcharge
    - mta_tax
    - tip_amount
    - tolls_amount
    - total_amount

Writing test_config.yaml

Create a new csv file with a different header

In [21]:
import csv  

header = utils.get_csv_header(file_path)
header.append('New field')

with open('test_file.csv', 'w') as f:
    writer = csv.writer(f)
    # write the header
    writer.writerow(header)

Validate new file

In [22]:
test_file = './test.txt'
test_dataset = data_ingestion('./test_config.yaml',test_file)

Configuration Data
 {'file_type': 'csv', 'dataset_name': 'Test dataset', 'file_name': 'test_file', 'inbound_delimiter': ',', 'outbound_delimiter': '|', 'skip_leading_rows': 1, 'columns': ['vendor_id', 'pickup_datetime', 'dropoff_datetime', 'passenger_count', 'trip_distance', 'pickup_longitude', 'pickup_latitude', 'rate_code', 'store_and_fwd_flag', 'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount', 'surcharge', 'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount']}

column name and column length validation failed

Following File columns are not in the YAML file ['new_field']